<!-- container -->
<div class="contaier">
    <!-- references -->
    <cite>
      <h3>References</h3>
      <a href="https://www.thechesswebsite.com/" target="_blank"><i style='font-size:30px' class='fas'>&#xf43a;</i></a> https://www.thechesswebsite.com/
      <br><br>
      <a href="https://www.chess.com/" target="_blank"><i style='font-size:30px' class='fas'>&#xf441;</i></a> https://www.chess.com/
      <br><br>
      <a href="https://simplifychess.com/" target="_blank"><i style='font-size:30px' class='fas'>&#xf439;</i></a> 
      https://simplifychess.com/
      <br><br>
      <a href="https://www.fide.com/" target="_blank"><i style='font-size:30px' class='fas'>&#xf43c;</i></a>
      https://www.fide.com/
      <br><br>
      <a href="https://sakkpalota.hu/index.php/en/chess/rules#king" target="_blank"><i style='font-size:30px' class='fas'>&#9812;</i></a>
      https://sakkpalota.hu/index.php/en/chess/rules#king
      <br><br>
      <a href="https://www.flaticon.com/free-icon/chess_4500055" target="_blank"><i style='font-size:30px' class='fas'>	&#xf443;</i></a>
      https://www.flaticon.com/free-icon/chess_4500055
    </cite>
    
  </div>