<!-- row -->
<div class="row align-item-center g-lg-5 py-5">
    <div class="col-lg-5 fs-1">
      <form class=" forms p-4 p-md-5 border rounded-3 bg-light">
        <h3 class="display-5  mb-3">Add Question</h3>
        <div class="form-floating mb-1">
          <input type="text" class="form-control" id="floatingInput" 
        #forumQuestion>
        </div>
  <!-- button for add  -->
  <button class="btn btn-secondary"type="submit" (click)="add(forumQuestion.value); forumQuestion.value=''">Add</button>
  </form>
  </div>
  </div>
  <br>
  <!-- table -->
  <table class="table">
    <!-- table head -->
    <thead>
      <!-- table row -->
        <tr>
          <th scope="col"> Question</th>
          <th scope="col"> Answer</th>
          <th scope="col"> Action </th>
      
        </tr>
      </thead>
      <!-- table body -->
      <tbody>
        <tr *ngFor="let forum of forums">
         <th scope="row">{{forum.question}}</th>
         <td>{{forum.answer}}</td>
         <td>
          <!-- button for view -->
            <button type="button" class="btn btn-info" [routerLink]="['/forums', forum.id]">
                <i class="bi bi-info-circle"></i>View</button>
          <!-- button for delete -->
                <button type="button" class="btn btn-info" (click)="delete(forum)">
                    <i class="bi bi-info-circle"></i>Delete</button>
       </tr>
       </tbody>
  
  </table>
  
  