<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-sm">
  
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Play Chess</h5>
          <p>Play Chess @
            <a href="https://www.chess.com/" target="_blank"><i style='font-size:24px' class='fas'>&#9822;</i></a> Chess.com </p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-sm">
  
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Learn More Chess Opening</h5>
          <p><a href="https://www.chessable.com/chess-openings/" target="_blank">Chessable</a>
          <br><a href="https://www.chess.com/openings" target="_blank">Chess.com</a>
          <br><a href="https://simplifychess.com/homepage/index.html" target="_blank">Simplify Chess</a></p>
  
        </div>
        <!-- Grid column -->
        
        <div class="col-sm">
  
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold" ><a routerLink="about">About us</a></h5>
          <h5 class="text-uppercase font-weight-bold" ><a routerLink="sources">sources</a></h5>
          
        </div>

  
      </div>
      <!-- Grid row -->
      <hr>
      
      <div class="col-sm logo">
  
        <a><i style='font-size:30px' class='fas'>&#xf441;</i>LearnChess</a>

      </div>
  
    </div>
    <!-- Footer Text -->
  
  
  </footer>
  <!-- Footer -->