<!-- container -->
<div class="container-fluid dashcode">
    <!-- row -->
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 text cust">
        <h1>Learn Chess Opening</h1>
        <p>learn chess openings, strategy, and rules the easy way.</p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 image" >
        <img src="./assets/homepageimg/photoshoppedimg3.png" alt="responsive webite" class="img-fluid">
      </div>
    </div>

    <!-- text tittle -->

    <h2> <li class="fa-light fa-book-blank">Start Learning</li></h2>
<!-- card with container -->
<div class="container2">
  <!-- row -->
    <div class="row">
      <!-- column -->
      <div class="col-lg-4">
        <!-- card 1 -->
        <div class="card" style="width: 14rem;">
            <a [routerLink]="['/opening']">
                <img src="./assets/homepageimg/E4.PNG" class="card-img-top" alt="E4 Opening"/>
             </a>
            <div>
              <p class="card-text" >Opening</p>
            </div>
          </div>
      </div>
       <!-- column -->
      <div class="col-lg-4">
        <!-- card 2 -->
        <div class="card" style="width: 14rem;">
            <a [routerLink]="['/strategy']">
                <img src="./assets/homepageimg/strategyimg.png" class="card-img-top" alt=""/>
             </a>
            <div>
              <p class="card-text" >Strategy</p>
            </div>
          </div>
      </div>
      <!-- column -->
      <div class="col-lg-4">
        <!-- card 3 -->
        <div class="card" style="width: 14rem;">
            <a [routerLink]="['/rules']">
                <img src="./assets/homepageimg/chessrules.png" class="card-img-top" alt="https://www.flaticon.com/free-icon/chess_4500055"/>
             </a>
            <div>
              <p class="card-text" >Rules</p>
            </div>
          </div>
      </div>
     
    </div>
    </div>
  </div>

