<!-- container -->
<div class="container-fluid dashcode">
    <!-- row -->
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 text cust">
        <h1>Learn Chess Opening</h1>
        <p>learn chess openings, strategy, and rules the easy way.</p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 image" >
        <img src="./assets/image1.jpg" alt="responsive webite" class="img-fluid">
      </div>
    </div>

    <!-- text tittle -->


<!-- card with container -->
<div class="container">
  <!-- row -->
    <div class="row">
      <h2>Start Learning</h2>
      <!-- column -->
      <div class="col">
        <!-- card 1 -->
        <div class="card" style="width: 14rem;">
            <a [routerLink]="['/e4']">
                <img src="./assets/homepageimg/E4.PNG" class="card-img-top" alt="E4 Opening"/>
             </a>
            <div>
              <p class="card-text" >E4 Opening</p>
            </div>
          </div>
      </div>
       <!-- column -->
      <div class="col">
        <!-- card 2 -->
        <div class="card" style="width: 14rem;">
            <a [routerLink]="['/d4']">
                <img src="./assets/homepageimg/d4.PNG" class="card-img-top" alt="Shorts"/>
             </a>
            <div>
              <p class="card-text" >D4 opening</p>
            </div>
          </div>
      </div>
      <!-- column -->
      <div class="col">
        <!-- card 3 -->
        <div class="card" style="width: 14rem;">
            <a [routerLink]="['/others']">
                <img src="./assets/homepageimg/other.PNG" class="card-img-top" alt="T-Shirt"/>
             </a>
            <div>
              <p class="card-text" >Other Opening</p>
            </div>
          </div>
      </div>
     
    </div>
    </div>
  </div>

