/* nav style */
.container-fluid{
    padding: 0rem 3rem;
}
.navbar-nav{
    margin-block: 0rem;
}
/* list spacing*/
.navbar-nav >li{
    padding: 1rem;
}
/* logo and letter style*/
 a{
    text-decoration: none;
    color: black;
    padding: 0rem 0rem;
    font-size: 2.2ch;
}
/* letter style*/
ul > li > a{
    color: black;
    text-decoration: none;
    text-align: center;
}
