<!-- navigation -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <!-- logo -->
      <a class="navbar-brand" routerLink="#">
        <i style='font-size:30px' class='fas'>&#xf441;</i>LearnChess</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="#"></a>
          </li>
          <!-- home -->
          <li class="nav-item">
            <a class="nav-link active fant" routerLink="home">Home</a>
          </li>
          <!-- opening -->
          <li class="nav-item">
            <a class="nav-link active fant" routerLink="opening">Opening</a>
          </li>
          <!-- strategy -->
          <li class="nav-item">
            <a class="nav-link active fant" routerLink="strategy">Strategy</a>
          </li>
          <!-- about -->
          <li class="nav-item">
            <a class="nav-link active fant" routerLink="about">About</a>
          </li>
          <!-- more dropdown list -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fant" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <!-- dropdown menu -->
            <ul class="dropdown-menu fant">
              <!-- rules mune -->
              <li><a class="dropdown-item" routerLink="practice">Practice</a></li>
              <li><a class="dropdown-item" routerLink="rules">Rules</a></li>
              <!-- divider -->
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="sources">Sources</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

