/* nav style */
.fant{
    font-family: fantasy;
}
.container-fluid{
    padding: 0rem 3rem;
}
.navbar-nav{
    margin-block: 0rem;
}
/* list spacing*/
.navbar-nav >li{
    padding: 1rem;
}
/* logo and letter style*/
 a{
    text-decoration: none;

    padding: 0rem 0rem;
    font-size: 2.2ch;
}
/* letter style*/
ul > li > a{

    text-decoration: none;
    text-align: center;
}
li a:hover{
    border:2px solid #1e1e1e  ;
    color:rgb(255, 255, 255);
    background-color: #000000 ;

}
