<section class="about-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="section-title">About Us</h1>
          <p class="desc">Welcome to our chess learning website! We are dedicated to providing a comprehensive platform for chess enthusiasts of all levels to enhance their skills and knowledge. At our website, you will find a wide range of resources designed to cater to beginners, intermediate players, and even advanced strategists.</p>
          <p class="desc">We are also passionate about promoting the game of chess and providing a comprehensive platform for chess enthusiasts of all levels.</p>
          <p class="desc">Join us today and embark on an exciting journey to become a master of the chessboard!</p>
        </div>
        <div class="col-lg-6">
          <img src="./assets/photoshopedimg.jpg" alt="About Us Image" class="about-us-image">
        </div>
      </div>
    </div>
  </section>